.about {
    min-height: 100vh;
    padding: 4em 1em;
    overflow: hidden;
    background-color:#e4e7fa ;
    display: flex;
    align-items: center;
    animation: fadeIn 1.5s ease-in-out;

  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .about-container {
    background-color:#e4e7fa ;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    margin-right: 80px;
    gap: 60px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .about-container:hover {
    transform: translateY(-10px);
  }
  
  .about-img {
    flex-shrink: 0;
  }
  
  .about-photo {
    width: 397px;
    height: 441px;
    margin-top: 15px;
    margin-left: 80px;
    background-color: #568ac2;
    transition: transform 0.3s ease;
  }
  
  .about-photo:hover {
    transform: scale(1.08);
  }
  
  .about-content {
    flex: 1;
    padding: 20px;
    min-width: 280px;
    overflow: auto;
  }
 
  .heading {
    font-size: 2.5em;
    color: #343a40;
    margin-bottom: 0.5em;
    position: relative;
    overflow: hidden;

  }
  
  .highlight {
    color: #007bff;
    position: relative;
  }
  
  .highlight::after {
    content: '';
    position: absolute;
    left: -119px;
    bottom: 0;
    width: 314%;
    height: 7px;
    background-color: #007bff;
    opacity: 12.4;
    transition: width 0.3s;
  }
  
  .highlight:hover::after {
    width: 120%;
  }
  
  h3 {
    font-size: 1.6em;
    color: #495057;
    margin-bottom: 0.5em;
  }
  
  p {
    line-height: 1.7;
    color: #6c757d;
    margin-bottom: 1.1em;
    animation: slideUp 1s ease forwards;
    opacity: 0;
    word-spacing: 3px;
    font-size: 17px;
  }
  
  @keyframes slideUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  h4 {
    margin: 0.8em 0;
    color: #212529;
  }
  
  .social-links {
    margin-top: 1.8em;
  }
  
  .social-links a {
    margin-right: 15px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    font-size: 17px;
    transition: color 0.3s;
  }
  
  .social-links a:hover {
    color: #0056b3;
  }
  
  .social-links a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #007bff;
    transition: width 0.3s;
  }
  
  .social-links a:hover::before {
    width: 100%;
  }
  

  @media (min-width: 420px) and (max-width: 550px) {
    .about {
      min-height: 100vh;
      width: 103%;
      padding: 3em 1em;
      background-color: #e4e7fa;
      display: flex;
      align-items: center;
      animation: fadeIn 1.5s ease-in-out;
    }
  
    .about-container {
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      gap: 40px;
      overflow: auto;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
  
    .about-photo {
      width: 397px;
      height: 377px;
      margin-top: 15px;
      margin-left: 0;
      transition: transform 0.3s ease;
    }
  
    .about-content {
      padding: 15px;
      text-align: center;
      min-width: 250px;
    }
  
    .heading {
      font-size: 2em;
    }
  
    p {
      font-size: 16px;
      letter-spacing: 1px;
      text-align: justify;
    }
  
    .social-links {
      text-align: center;
    }
  }

  @media (max-width: 419px) {
    .about {
      min-height: 100vh;
      padding: 2em 1em;
      background-color: #e4e7fa;
      display: flex;
      align-items: center;
      animation: fadeIn 1.5s ease-in-out;
    }
  
    .about-container {
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      gap: 30px;
      padding: 0 1em;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
  
    .about-photo {
      width: 280px; /* Adjusted size for smaller screens */
      height: 280px; /* Auto height to maintain aspect ratio */
      margin-top: 15px;
      margin-left: 0;
      transition: transform 0.3s ease;
    }
  
    .about-content {
      padding: 10px;
      text-align: center;
      min-width: 230px; /* Adjusted minimum width */
    }
  
    .heading {
      font-size: 1.8em; /* Slightly smaller font size */
    }
  
    .highlight::after {
      left: -85px; /* Adjusted position */
      width: 200%; /* Adjusted width */
    }
    p {
      font-size: 15px; /* Smaller font size for better readability */
      letter-spacing: 0.8px;
      text-align: justify;
    }
  
    .social-links {
      text-align: center;
      margin-top: 1.5em;
    }
  
    .social-links a {
      font-size: 16px; /* Smaller font size for links */
    }
  }
  

  @media (min-width: 740px) and (max-width: 830px) {
    .about {
      min-height: 100vh;
      padding: 2.5em 1em;
      background-color: #e4e7fa;
      display: flex;
      width: 107%;
      align-items: center;
      animation: fadeIn 1.5s ease-in-out;
    }
  
    .about-container {
      flex-direction: row; 
      align-items: center;
      margin: 0 auto;
      gap: 40px; 
      padding: 0 1em; 
      width: 100%;
      max-width: 1100px; 
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-sizing: border-box; 
    }
  
    .about-photo {
      width: 298px; 
      height: 392px;
      margin-top: 15px;
      margin-left: 20px; 
      transition: transform 0.3s ease;
    }
  
    .about-content {
      padding: 15px;
      text-align: center;
      min-width: 240px;
    }
  
    .heading {
      font-size: 2.1em; 
    }
  
    p {
      font-size: 15px; 
      letter-spacing: 0.8px;
      text-align: justify;
    }
  
    .social-links {
      text-align: center;
    }
  }
  
  
  @media (min-width: 830px) and (max-width: 930px) {
    .about {
      min-height: 100vh;
      padding: 3em 1em;
      background-color: #e4e7fa;
      display: flex;
      width: 107%;
      align-items: center;
      animation: fadeIn 1.5s ease-in-out;
    }
  
    .about-container {
      flex-direction: row;
      align-items: center;
      margin: 0 auto;
      gap: 30px;
      padding: 0 1em;
      width: 107%;
      max-width: 1200px; 
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-sizing: border-box; 
    }
  
    .about-photo {
      width: 300px; 
      height: 360px; 
      margin-top: 15px;
      margin-left: 20px;
      transition: transform 0.3s ease;
    }
  
    .about-content {
      padding: 15px; 
      text-align: center;
      min-width: 250px; 
    }
  
    .heading {
      font-size: 2.2em; 
    }
  
    p {
      font-size: 16px; 
      letter-spacing: 0.9px;
      text-align: justify;
    }
  
    .social-links {
      text-align: center;
    }
  }
  

  @media (min-width: 890px) and (max-width: 995px) {
    .about {
      min-height: 100vh;
      padding: 3em 1em; 
      background-color: #e4e7fa;
      display: flex;
      width: 107%;
      align-items: center;
      animation: fadeIn 1.5s ease-in-out;
    }
  
    .about-container {
      flex-direction: row; 
      align-items: center;
      margin: 0 auto;
      gap: 40px; 
      padding: 0 1em; 
      width: 100%;
      max-width: 1100px; 
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-sizing: border-box;
    }
  
    .about-photo {
      width: 330px;
      height: 400px; 
      margin-top: 15px;
      margin-left: 0px;
      transition: transform 0.3s ease;
    }
  
    .about-content {
      padding: 20px; 
      text-align: center;
      min-width: 260px; 
    }
  
    .heading {
      font-size: 2.2em;
    }
  
    p {
      font-size: 16px; 
      letter-spacing: 0.9px;
      text-align: justify;
    }
  
    .social-links {
      text-align: center;
    }
  }
  
  @media (min-width: 950px) and (max-width: 1095px) {
    .about {
      min-height: 100vh;
      padding: 3em 1em; 
      background-color: #e4e7fa;
      display: flex;
      width: 100%;
      align-items: center;
      animation: fadeIn 1.5s ease-in-out;
    }
  
    .about-container {
      flex-direction: row; 
      align-items: center;
      margin: 0 auto;
      gap: 40px; 
      padding: 0 1em; 
      width: 90%;
      max-width: 1200px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-sizing: border-box; 
    }
  
    .about-photo {
      width: 340px; 
      height: 420px; 
      margin-top: 15px;
      margin-left: 3px; 
      transition: transform 0.3s ease;
    }
  
    .about-content {
      padding: 9px; 
      text-align: center;
      min-width: 270px; 
    }
  
    .heading {
      font-size: 2.3em;
    }
  
    p {
      font-size: 16px;
      letter-spacing: 1px;
      text-align: justify;
    }
  
    .social-links {
      text-align: center;
    }
  }
  