.main {
    height: 100%;
    width: 100%;
    padding: 20px;
    position: relative;
}

.responsive-map {
    position: relative;
    margin-left: 148px;
    overflow: hidden;
    max-width: 1200px;
    padding: 50px 20px 20% 20px;
    height: 70%;
    border-radius: 13px;
    border: 4px solid rgb(201, 210, 236);
}

.responsive-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1234px) {
    .responsive-map {
        padding-top: 4%;
        margin-left: 8px;
    }
}
/* Example of making it responsive for smaller screens */
@media (max-width: 768px) {
    .responsive-map {
        padding-top: 12%;
        margin-left: 3px;
    }
}

@media (max-width: 576px) {
    .responsive-map {
        padding-top: 26%;
        margin-left: 12px;
    }
}
